# Django Secret Key - replace with your secret key for production
SECRET_KEY=django-insecure-)un1m1me68c-td0i998)kdtym219*bd5&8bp476cal3py(fz6@

# Debug mode (True for local development, False for production)
DEBUG=True

# Comma-separated list of allowed hostnames
ALLOWED_HOSTS=127.0.0.1,localhost
