{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Вопрос {{ question_number }}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="container" style="margin-top: 2%;">
            <div class="row justify-content-center mb-5">
                <div class="col-8">
                    <div class="alert alert-dark" role="alert">
                        <div class="card text-bg-light">
                            <div class="card-header">
                                Вопрос №{{ question_number }}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ question.text | safe }}</h5>
                            </div>
                        </div>
                        <div class="card text-bg-light mt-2">
                            <div class="card-header">
                                Варианты ответа:
                            </div>
                            <div class="card-body">
                                <div class="container">
                                    <div class="row row-conformity">
                                        <div class="col justify-content-start">
                                            {% for index, el in answer_options_dict.items %}
                                            <div class="form-check mb-2">
                                                <input class="form-check-input form-check-input-success " type="radio" name="RadioOptions"
                                                        style="position: relative; top: 25px"
                                                        value={{index}}
                                                        id="flexRadioDefault{{index}}"
                                                        {% if question_settings_dict.answered == True %} disabled {% endif %}
                                                        {% if user_answer == index %} checked {% endif %}>
                                                <label class="form-check-label" for="flexRadioDefault{{index}}">
                                                    <img src="{% get_media_prefix %}img_for_type2/{{ el.img_input }}.0x80_q95_autocrop.png" alt="Logo" class="img-fluid">
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="col-auto align-self-end">
                                            {% if question_settings_dict.answered == False %}
                                                <button type="submit" class="btn btn-outline-primary btn-lg mb-1">Ответить</button>
                                            {% elif question_settings_dict.right == True %}
                                                <div class="alert alert-success text-center" role="alert">
                                                    <h4 class="alert-heading pt-1">Верно!</h4>
                                                </div>
                                            {% elif question_settings_dict.right == False %}
                                                <div class="alert alert-danger text-center" role="alert">
                                                    <h4 class="alert-heading pt-1">Неверно!</h4>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if question_settings_dict.answered == True and question_number != test_data.number_of_questions %}
                        <div class="container">
                            <div class="row justify-content-end">
                                <div class="col-auto">
                                    <a href="{% url 'viewquestion' question_number=next_question_number %}"
                                       class="btn btn-warning btn-lg" role="button">Следующий вопрос</a>
                                </div>
                            </div>
                        </div>
                    {% elif question_settings_dict.answered == True and question_number == test_data.number_of_questions %}
                        <div class="container">
                            <div class="row justify-content-end">
                                <div class="col-auto">
                                    <a href="{% url 'view-results' %}"
                                       class="btn btn-warning btn-lg" role="button">Завершить тест</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block footer %}
     <footer class="footer d-flex flex-wrap justify-content-between align-items-center border-top" id="footer">

        <p class="col-2 mb-0 text-muted text-center h6" >{{ test_data.surname_name }} {{ test_data.group_number }} гр.</p>

        <div class="col-7">
            <div class="progress shadow">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
                     aria-valuenow="{{ progress_correct }}" aria-valuemin="0" aria-valuemax="{{ test_data.number_of_questions }}" style="width: {{ progress_correct }}%"></div>
                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar"
                     aria-valuenow="{{ progress_wrong }}" aria-valuemin="0" aria-valuemax="{{ test_data.number_of_questions }}" style="width: {{ progress_wrong }}%"></div>
            </div>
        </div>

        <ul class="nav col-2 justify-content-end">
            <li class="nav-item"><a href="{% url 'view-results' %}" class="nav-link px-2"><p class="h6 text-danger mb-0">Завершить досрочно</p></a></li>
        </ul>
    </footer>
{% endblock %}