{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Вопрос
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="container" style="margin-top: 2%;">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="alert alert-primary" role="alert">
                        <legend>Данные пользователя</legend>
                        <h6>Здорова</h6>
                        {{ question.text | safe }}
                        <br>
                        <form>
                            {% for index, el in answer_options_dict.items %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="RadioOptions" value={{index}} id="flexRadioDefault{{index}}">
                                <label class="form-check-label" for="flexRadioDefault{{index}}">
                                    {{el}}
                                </label>
                            </div>{% endfor %}
                        </form>
                        <a href="{% url 'viewquestion' question_number=next_question_number %}" class="btn btn-primary" role="button" >следующий вопрос</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
