{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Тест
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="container mb-5" style="margin-top: 2%;">
            <div class="row justify-content-center">
                <div class="col-7">
                    <div class="alert alert-primary shadow" role="alert">
                        <legend>Данные пользователя</legend>
                        <div class="form-floating mb-2">
                            {{ form.surname_name }}
                            <label for="{{ form.surname_name.id_for_label }}">Фамилия Имя</label>
                            {% for error in form.surname_name.errors %}
                                <div class="container mt-1">
                                    <div class="row">
                                        <div class="col-auto align-self-start">
                                            <div class="alert-danger px-1">
                                                <img src="{% static 'main/img/exclamation-diamond.svg' %}" alt="Warning" width="16" height="16" class="mb-1">
                                                {{ error }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-floating">
                            {{ form.group_number }}
                            <label for="floatingInput">Номер учебной группы</label>
                            {% for error in form.group_number.errors %}
                                <div class="container mt-1">
                                    <div class="row">
                                        <div class="col-auto align-self-start">
                                            <div class="alert-danger px-1">
                                                <img src="{% static 'main/img/exclamation-diamond.svg' %}" alt="Warning" width="16" height="16" class="mb-1">
                                                {{ error }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-7">
                    <div class="alert alert-success shadow" role="alert">
                        <legend>Выберите темы</legend>
                        {% for error in form.non_field_errors %}
                            <div class="container  mb-2">
                                <div class="row">
                                    <div class="col-auto align-self-start">
                                        <div class="alert-danger px-1">
                                            <img src="{% static 'main/img/exclamation-diamond.svg' %}" alt="Warning" width="16" height="16" class="mb-1">
                                            {{ error }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {{ form.test_type }}
                        <div class="collapse" id="test_type_div">
                            <div class="container text-center mb-2">
                                <div class="row row-cols-3">
                                    {% for el in form.check_subjects %}
                                        <div class="col-lg-4">
                                            <div class="form-check">
                                                {{ el }}
                                            </div>
                                            <br>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row g-3">
                            <div class="col-auto">
                                <label for="CountQuestions" class="visually-hidden">Количество вопросов</label>
                                {{ form.number_of_questions }}
                            </div>
                            <div class="col-auto ms-auto">
                                <button type="submit" class="btn btn-warning">Начать тест</button>
                            </div>
                        </div>
                        {% for error in form.number_of_questions.errors %}
                            <div class="container  mt-1">
                                <div class="row">
                                    <div class="col-auto align-self-start">
                                        <div class="alert-danger px-1">
                                            <img src="{% static 'main/img/exclamation-diamond.svg' %}" alt="Warning" width="16" height="16" class="mb-1">
                                            {{ error }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block footer %}
    <footer class="footer d-flex flex-wrap justify-content-between align-items-center py-0 my-0 border-top" id="footer">

        <p class="col-2 my-0 pt-0 text-muted">Академия ФСО России</p>

{#        <div class="col-6 text-center">#}
{#        </div>#}

        <ul class="nav col-2 justify-content-end">
            <li class="nav-item"><a href="{% url 'view-about' %}" class="nav-link px-2 pt-1 text-muted">О программе</a></li>
            <li class="nav-item"><a href="{% url 'view-author' %}" class="nav-link px-2 pt-1 text-muted">Автор</a></li>
        </ul>
    </footer>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(() => {
            let testTypeDiv = $('#test_type_div');
            let testTypeSelect = $('#id_test_type');

            if (testTypeSelect.val() === '1')
                testTypeDiv.collapse('show')

            testTypeSelect.change((event) => {
                let testType = event.target.value;
                testTypeDiv.collapse(testType === '1' ? 'show' : 'hide')
            })
        })
    </script>
{% endblock %}