body{
    background: #2c2c2c;
}

.header{
    color: cyan;
    width: 100%;
}
.sidebar1{
    float: left;
    width: 20%;
}
.sidebar2{
    float: right;
    width: 20%;
}
.main{
    color: #4d4d4d;
}